<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nbapps.volcanoreport" android:versionName="@string/version_name" android:versionCode="4">
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<supports-screens android:largeScreens="true" android:anyDensity="true"/>
	<application android:label="@string/app_name" android:icon="@drawable/volcano_eruption2">
        <activity android:name=".VolcanoReport"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library android:name="com.google.android.maps"></uses-library>
        <activity android:name="com.nbapps.volcanoreport.VolcanoDetails"></activity>

    </application>
</manifest>
